@model ProyectoPWA2025.DAL.Evento;
@{
    ViewData["Title"] = "Actualizar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-4">
        <form asp-action="Actualizar" asp-controller="Evento" method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="Id" />
            <div class="mb-2">
                <label class="form-label" asp-for="Nombre"></label>
                <input type="text" class="form-control form-control-sm" asp-for="Nombre" />
            </div>
            <div class="mb-2">
                <label class="form-label text-white" asp-for="Descripcion"></label>
                <input type="text" class="form-control form-control-sm" asp-for="Descripcion" />
            </div>
            <div class="mb-2">
                <label class="form-label" asp-for="Fecha"></label>
                <input type="date" class="form-control form-control-sm" asp-for="Fecha" />
            </div>
            <div class="mb-2">
                <label class="form-label text-white" asp-for="Precio"></label>
                <input type="number" class="form-control form-control-sm" asp-for="Precio" step="0.01" min="0" />
            </div>
            <div class="mb-2">
                <label class="form-label" asp-for="Cupo"></label>
                <input type="number" class="form-control" asp-for="Cupo" />
            </div>
            <div class="mb-2">
                <label class="form-label" asp-for="Foto"></label>
                <img src="~/images/@Url.Content(Model.Foto)" class="rounded-circle" style="width:80px; height:80px" />
                <input type="file" class="form-control" name="NewFoto" asp-for="Foto" />
            </div>
            <div class="mb-2">
                <button class="btn btn-secondary" type="submit">Actualizar</button>
                <a class="btn btn-info" asp-action="Index" asp-controller="Evento">Volver</a>
            </div>


        </form>
    </div>
</div>


